a {
  color:white;
}

.col {
  padding: 0;
}

.navbar {
  background-color: #294347;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  color: #e9ecec;
}

.beli {
  margin-top: 60px;
}

.center {
  text-align: center;
}

.page-title {
  color: black;
  display: inline-block;
  margin-left: 20px;
}

.page {
  width: 70px;
  height: 70px;
  margin-left: 100px;
  background-color: #294347;
  display: inline-block;
}

.btn {
  color: #e9ecec;
  border-color: #e9ecec;
}

.link :hover {
  background-color: #a9b3b5;
  color: black;
  border-radius: 1%;
}
.footer-text-1 {
  margin-left: 30px;
  margin-top: 20px;
  color: white;
}

.footer-text-2 {
  margin-left: 30px;
  font-size: 12px;
  color: white;
}

.footerlist {
  margin-top: 20px;
  list-style-type: none;
}

#footerbg1 {
  background-color: #294347;
}

#footerbg2 {
  background-color: #275056;
}

#green {
  background-color: green;
}

#border {
  border: 2px solid black;
}

.button {
  margin: 0 5px;
}

.form-control {
  margin-top: 5px;
}
