<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    {% if user.is_authenticated %}
    <div class="col col-lg-12">
            <nav class="navbar sticky-top navbar-expand-lg">
                <h4 class="navbar-brand" href="/">REUSE ME!</h4>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-control    s="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item link">
                            <a class="nav-link" href="/tracker/" style="color:white">Tracker Pendaftaran Barang</a>
                        </li>
                        <li class="nav-item link">
                            <a class="nav-link" href="/" style="color:white">List Barang</a>
                        </li>
                        <li class="nav-item link">
                            <a class="nav-link" href="/jual/" style="color:white">Jual Barang</a>
                        </li>
                        <li class="nav-item link">
                            <a class="nav-link" href="/about/">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="/accounts/logout/">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    {% else %}
    <div class="col col-lg-12">
        <nav class="navbar sticky-top navbar-expand-lg">
            <h4 class="navbar-brand" href="/">REUSE ME!</h4>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-control    s="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item link">
                        <a class="nav-link" href="/tracker/" style="color:white">Tracker Pendaftaran Barang</a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link" href="/" style="color:white">List Barang</a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link" href="/jual/" style="color:white">Jual Barang</a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link" href="/about/">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary" href="/accounts/signup/">REGISTER</a>
                    </li>
                    <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="/accounts/login/">LOGIN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {% endif %}
</body>

</html>

<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>