{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="body">
    {% if barang_list %}
    <div class="barang_list">
        {% for barang in barang_list %}
            {% if barang.pembeli == null %}
            <div class="row">
                <div class="col-sm-2" id="border">
                    <img src="{{ barang.foto_barang }}">
                </div>
                <div class="col-sm-6" id="border">
                    <h1>{{ barang.nama_barang }}</h1>
                    <p>{{ barang.deskripsi_barang }}</p>
                    <h1>{{ barang.harga_barang }}</h1>
                </div>
                <div class="col-sm-2" id="border">
                    <div class="center">
                        <div class="beli">
                            {% if user.is_authenticated %}
                                {% if barang.penjual == user %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="save btn btn-primary" id="green" onclick="alert('Anda tidak bisa membeli barang anda sendiri')">
                                            Beli
                                        </button>
                                    </form>
                                {% else %}
                                    <form method="POST" action="/listbarang/beli/{{ barang.id }}">
                                        {% csrf_token %}
                                        <button type="submit" class="save btn btn-primary" id="green">
                                            Beli
                                        </button>
                                    </form>
                                {% endif %}
                            {% else %}
                            <form method="POST" action="/accounts/login/">
                                {% csrf_token %}
                                <button type="submit" class="save btn btn-primary" id="green">
                                    Beli
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {{ else }}
    <div class="barang_list">
        <h1>Belum ada barang</h1>
    </div>
    {% endif %}
</div>
{% endblock %}